.design-for:hover {
    transition: 0.4s;
    text-shadow: 2px 2px 10px #ffffff;

}
.navbar-inner {
	background-color: #008000;
}
.container-fluid {
	background-color: #008000;
}
.prof-pic {
	border-radius: 50%;
	
}
.control-group success , .controls , .control-group , .btn-save , .btn-class {
	float: left !important;
	margin: 10px;
}
.set-login {
	font-size: 20px;
	text-align: center;
	float: left;

}
.modal-body {
	text-align: center;
}
.login-btn {
    background-color:#4CAF50;
	float: left;
    margin-left: 59%;
    text-align: center;
    width: 30%;
    padding: 10px;

}
.login-btn:hover {
    transition: 0.5s;
    background-color: #5fb962;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-login {
	float: left;
	background-color: transparent;
	border: none;
	text-align: center;
	margin-left: 25%;
	color: white;
	
	font-size: 20px;
	
}
/* Drop down */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 11px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px;
    font-size: 11px;
    float: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 11px;
    float: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    
    display: block;
    float: left;

}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    float: left;
}






/* --------------------*/

/* -------- ADD STUDENT IN REGISTRAR ------*/

.in-row {
    float: left;
    margin-left: 20px;
}

::-webkit-input-placeholder
{
    color: #4d4d4d !important;
}
::-moz-placeholder
{
    color: #4d4d4d !important;
}
input[type=text]:focus {
            
    box-shadow: 0px 0px 10px -2px black;
}
input[type=email]:focus {
    box-shadow: 0px 0px 10px -2px black;
}
input[type=password]:focus {
    box-shadow: 0px 0px 10px -2px black;
}

.positioning- {

    margin-left: 20px;
}
.border-pers {
    box-shadow: 0px 0px 10px -5px green;
    padding: 50px 15px 70px 15px;
    float:left;
    
}
.clear-fix {
    border-bottom: 1px solid gray;
    clear: left;
    margin-bottom: 10px;
}
.btn-save-outer {

}
.btn-save-student {
    font-size: 17px;
    color: white;
    background-color: transparent;
    border:none;
    background-color:#4CAF50;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 175px;
    padding: 10px;
}
.btn-save-student:hover {
    transition: 0.05s;
    background-color: #5fb962;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-design {
    float: left;
    
    border: 1px solid #e6e6e6;
    background-color: #4CAF50;
    float: left;
    font-size: 12px;
    margin-top: 2px;
    width: 100px;
    color: white;
    border-radius: 3px;
}
.btn-design:hover
{
    
    color: white;
    background-color: #006600;
    transition: 0.8s;
}




/* -----------------------------------------*/

.cp_btn
{
    background-color: transparent;
    border:none;
}
.break_line
{
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
  
    float: left;
    clear: left;
}
div.mini_nav
{
    float: left;
    width: 98.5%;
    padding: 10px;
    border: solid #e6e6e6;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    color: green;
}
table.mini_nav_tab
{
    float: left;
    width: 240px;
    margin-left: 20px;
  
    text-align: left;
    font-size: 15px;

}



/* -----------------------------------------*/

.input_des
{
    width: 75px;
}

.tb_des
{
    width: 98%;
}

.label_des
{
    float: left;
    font-size: 17px;
    margin-left: 10px;
    color: #004d00;
    text-shadow: 0.5px 0.5px 0.5px #004d00;
}
.shadow
{
    text-shadow: 0px 0px 0.1px #004d00;
}
.label_des_title
{
    float: left;
    font-size: 17px;
    margin-left: 10px;

}
.row_design
{
    
    border-left: 5px solid #e6e6e6;
}
.tbl_header
{
    cursor: pointer;
}

.input_sub
{
    float: left;
    padding: 5px;
    margin-left: 2px;
    width: 100px;
}
.button_sub
{
    float: left;

}
#speci
{
    width: 80px;
}
#spec
{
    width: 40px;
}
.tr_sub
{
    border: 1px solid  #e6e6e6;
    
}
.td_sub
{
    border: 1px solid  #e6e6e6;
    text-align: center;

}
.sub_break
{
    float: left;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 60px;
    border-top: 1px solid  #e6e6e6;


}
.button_sub 
{

    float: left;
    font-family: century gothic;
    border: 1px solid #e6e6e6;
    background-color: #4CAF50;
    float: left;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
    width: 150px;
    padding: 10px;
    color: white;
    border-radius: 4px;
    border: transparent;

}
.button_sub:hover
{
    
    color: white;
    background-color: #008000;
    transition: 0.3s;
}
.line_break
{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid white;

}
.fixed-add-sub
{
    float: left;
    position: fixed;
    bottom:  0px;
    z-index: 10000;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.show-design
{
    
    width: 100%;
    

}
.show-design-btn
{
    background-color: gray;
}
.btn-show-add-sub
{

    background-color: #006600;
    color: white;
    padding: 10px;
    width: 110px;
    text-align: center;
    border-radius: 5px;
    font-size: 11px;
}
#special-year
{
    width: 50px;
}
#special-sem
{
    width: 50px;
}
#special-ins
{
    width: 130px;
}
#special-code
{
    width: 70px;
}
#special-des
{
    width: 180px;
}
#special-units
{
    width: 30px;
}
#special-grades
{
    width: 35px;
}
#special-rating
{
    width: 35px;
}

.drop-design
{
    float: left;
    
    border: 1px solid #e6e6e6;
    background-color: #ff3333;
    float: left;
    font-size: 12px;
    margin-top: 2px;
    width: 100px;
    color: white;
    border-radius: 3px;
}
.drop-design:hover
{
    
    color: white;
    background-color: #e60000;
    transition: 0.04s;
}
/*++++++++++++++++++*/
/* CSS Notification */
/*++++++++++++++++++*/
.noti
{
    position: fixed;
    bottom: 20px;
    width: 300px;
    height: 140px;
    right: 10px;
            
    z-index: 100000;
    border-radius: 5px;
    padding: 20px;

}
.noti-img
{
    opacity: 0.6;
    border-radius: 5px;
    width: 300px;
    height: 120px;
    z-index: -100;
}
.edit_table
{
    float: left;
    padding: 10px;
    margin-top: 20px;
    margin-left: 30%;

    

}
.tr_table
{

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    height: 70px;
    padding: 10px;
    margin: 10px;
    
}
.btn-edit-sub-container
{   
    margin-left: 30%;
    float: left;
}
.btn-edit-sub
{
    font-size: 17px;
    color: white;
    background-color: transparent;
    border:none;
    background-color:#4CAF50;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    width: 175px;
    padding: 10px;
    border-radius: 3px;
}
.btn-edit-sub:hover
{
    
    transition: 0.05s;
    background-color: #5fb962;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
